*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    box-sizing: border-box;    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    position: sticky !important;
    top: 0; 
    left: 0;
    border-bottom: 1px solid #0000005e;
    filter: drop-shadow(0px 5px 50px black);
    z-index: 100000;

    animation-name: aniNav;
    animation-duration: .4s;
}
@keyframes aniNav{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

.logo{
    width: 35%;
}
.logo img{
    width: 100%;
}

#OtherMenu, #OtherMenu2{
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    display: none;
    width: 40px;
    padding: 4px 5px;
    margin-left: 2%;
}
#OtherMenu img{
    width: 100%;
}

.menuLinks, .menuButtons, .menuLinksCollapse{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    width: fit-content;
    height: fit-content;
}

.menuLinksCollapse{
    display: none;
    width: 100%;
    text-indent: 3%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: fit-content;
    border-top: 1px solid #0000005e;
    padding-top: 10px;
    position: absolute;
    gap: 15px;
    top: 80px;
    left: 0;
    z-index: 100001;
    background-color: white;
    padding-bottom: 10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
}
.Appear{
    transform: scaleY(1);
    transform-origin: top;
    transition: 0.5s;
}

.menuLinks{
    margin-left: 2%;
}
.menuLinks a, .menuLinksCollapse a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    /*justify-content: center;
    align-items: center; */
    font-size: 16px;
    text-decoration: none;  
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
}
.menuLinks a:hover, .menuLinksCollapse a:hover{
    opacity: 1.5;
    transition: 0.4s;
}
.menuLinks a hr, .menuLinksCollapse a hr{
    width: 0;
    height: 1px;
    background-color: white;
    border: none;
    transition: 0.5s;
    align-self: flex-end;
}
.menuLinks a:hover hr, .menuLinksCollapse a:hover hr{
    width: 98%;
    transition: 0.5s;
    background-color: black;
    align-self: flex-start;
}

.menuLinksCollapse a{
    width: 100%;
}

.menuButtons{
    justify-content: end;
    margin-right: 2%;
    gap: 20px;
}
.buttonIcon{
    background-color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttonIcon:hover{
    animation-name: aniLoad;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes aniLoad{
    to{
        border-right: 1px solid black;
        transform: rotate(360deg);
    }
}
.buttonIcon img{
    height: 20px;
    filter: invert(100%);
    transform: none;
}
.buttonIcon:hover img{
    animation-name: aniLoad2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes aniLoad2{
    to{
        transform: rotateY(-360deg);
    }
}

#buttonLogin{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
}
#buttonLogin:hover{
    color: white;
    background-color: black;
}






/* Initial hero*/
.HeroInitial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 780px;
    z-index: 1;
    position: relative;
}
.imgBg{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.heroConteudo{
    width: 100%;
    height: 100%;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0000005e;
    /* box-shadow: 1px 1px 5px 100vw #0000005e; */
    position: absolute;

    animation-name: aniInitHero;
    animation-duration: .8s;
}
@keyframes aniInitHero{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1.5;
        transform: translateY(0);
    }
}
.disappear{
    opacity: 0;
    transition: 1s;
}

.heroConteudo img{
    width: 20%;
}

.heroConteudo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5vw;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 2px 3px black;
}
.heroConteudo p{
    width: 70%;
    line-height: 110%;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
    text-shadow: 1px 2px 3px black;
}


.Botao, .Botao2{
    background-color: #00a59a;
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border: 1px solid #00a59a;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s;
}
.Botao:hover{
    background-color: #005c56;
    border: 1px solid #005c56;
}
.Botao2{
    background-color: transparent;
    border: 1px solid rgba(200, 200, 200, 0.7);
    transition: 0.4s;
}
.Botao2:hover{
    background-color: rgba(200, 200, 200, 0.8);
    color: black;
    transition: 0.4s;
}

.footer-card{
    background-color: #000;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0px 20px 0px 20px;
    bottom: -20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-card{
    text-shadow: 2px 2px 2px #000;
    transform: translateY(-60px);
}
.card{
    transition: .4s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px) scale(1.06);
    transition: .4s;
}

.bg-ods1{
    background-image: url(../img/ods1.avif);
}
.bg-ods2{
    background-image: url(../img/ods2.png);
}
.bg-ods4{
    background-image: url(../img/ods4.jpg);
}
.bg-ods5{
    background-image: url(../img/ods5.jpg);
}
.bg-ods6{
    background-image: url(../img/ods6.webp);
}
.bg-ods7{
    background-image: url(../img/ods7.webp);
}
.bg-ods8{
    background-image: url(../img/ods8.jpg);
}
.bg-ods9{
    background-image: url(../img/ods9.jpg);
}
.bg-ods10{
    background-image: url(../img/ods10.webp);
}



.Pesquisa{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0px 40px 0px;
}

.Pesquisa form img{    
    width: 50px;
    background-color: #fff;
    border-radius: 50px;
    padding: 6px;
    box-shadow: 0px 2px 5px #00000060;
}
.Pesquisa input{
    width: 65vw;
    padding: 15px 20px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 4px 8px #0000009a;
    transition: .5s;
}
.Pesquisa input:focus{
    width: 75vw;
    transition: .5s;
}
.Pesquisa form button{
    position: absolute;
    top: 46px;
    transform: translateX(-58px);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Pesquisa form button:hover img{
    background-color: #eee;
}

.ConteudoTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    flex-shrink: 0;

    animation-name: aniInitHero;
    animation-duration: .8s;
}
.ConteudoTexto i{
    font-size: 27px;
    max-width: 92%;
    color: #00000086;
}
.ConteudoTexto hr{
    border: none;
    width: 10%;
    height: 4px;
    margin-top: 8px;
    background-color: #00a59a;
    align-self: center;
}
.ConteudoTexto p{
    text-align: justify;
    font-size: 22px;
    margin-top: 40px;
    color: #000000c7;
    width: 90%;
}
.Aspas{
    font-size: 14vw;
    font-weight: bold;
    color: #00214d;
    opacity: 0.8;
    position: absolute;
    top: -50px;    
}
.top-left{
    left: 4%;
}
.top-right{
    right: 4%;
}
.ConteudoTexto span{
    font-size: 18px;
    margin-top: 8px;
    color: #00000088;
}


.Footer{
    width: 100%;
    height: fit-content;
    background-color: #000;
    padding: 50px 0px 50px 0px;
    color: #fff;
}
.text-footer{
    color: #888 !important;
}
.form-control{
    background-color: #999 !important;
    border: 1px solid #999 !important;
}